version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql_whatsapp
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: q1w2e3
      MYSQL_DATABASE: ipelabor
      MYSQL_TCP_PORT: 3306
      MYSQL_ROOT_HOST: '%'           # <— permite root de qualquer host
      TZ: America/Sao_Paulo       # <-- define o fuso
    ports:
      - "7306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  mqtt_broker:
    image: eclipse-mosquitto
    container_name: mqtt_whatsapp
    restart: unless-stopped
    environment:
      TZ: America/Sao_Paulo       # <-- define o fuso
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    ports:
      - "7883:1883"

  nodeapp:
    build: .
    container_name: whatsapp_app
    depends_on:
      - mysql
      - mqtt_broker
    environment:
      TZ: America/Sao_Paulo       # <-- define o fuso
    volumes:
    #  - .:/app
      - ./config.ini:/app/config.ini
    working_dir: /app
    command: ["node", "index.js"]
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    depends_on:
      - mysql
    ports:
      - "7000:3000"
    environment:
      TZ: America/Sao_Paulo       # <-- define o fuso
    # volumes:
      # # Mapeia apenas os arquivos necessários, evitando sobrescrever o node_modules
      # - ./web:/app/web # Mapeia o diretório web
      # - ./config.ini:/app/config.ini # Mapeia o config.ini
      # # Adiciona um volume anônimo para persistir o node_modules
      # - /app/web/node_modules
    working_dir: /app/web
    command: node server.js
    restart: unless-stopped

volumes:
  mysql_data:
