services:
  mysql:
    image: mysql:8
    container_name: mysql_whatsapp
    restart: unless-stopped
    cpu_shares: 2048
    # MODIFICADO: 'blkio_weight' foi substituído pela estrutura 'blkio_config'
    blkio_config:
      weight: 700
    healthcheck:
      # MODIFICADO: A senha foi colocada diretamente, sem usar variável de ambiente do host
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-pq1w2e3"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: q1w2e3
      MYSQL_DATABASE: ipelabor
      MYSQL_TCP_PORT: 3306
      MYSQL_ROOT_HOST: '%'
      TZ: America/Sao_Paulo
    ports:
      - "7306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  mqtt_broker:
    image: eclipse-mosquitto
    container_name: mqtt_whatsapp
    restart: unless-stopped
    cpu_shares: 2048
    environment:
      TZ: America/Sao_Paulo
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    ports:
      - "7883:1883"

  nodeapp:
    build: .
    container_name: whatsapp_app
    restart: unless-stopped
    cpu_shares: 2048
    depends_on:
      mysql:
        condition: service_healthy
      mqtt_broker:
        condition: service_started
    environment:
      TZ: America/Sao_Paulo
    volumes:
      - ./config.ini:/app/config.ini
      - baileys_auth:/app/baileys_auth_info
    working_dir: /app
    command: ["node", "index.js"]

  web:
    build:
      context: .
      dockerfile: ./web/Dockerfile
    restart: unless-stopped
    cpu_shares: 512
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "7000:3000"
    environment:
      TZ: America/Sao_Paulo
    working_dir: /app/web
    command: node server.js
    
  metabase:
    image: metabase/metabase:latest
    container_name: metabase_app
    restart: unless-stopped
    cpu_shares: 512
    # MODIFICADO: 'blkio_weight' foi substituído pela estrutura 'blkio_config'
    blkio_config:
      weight: 300
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "7001:3000"
    environment:
      TZ: America/Sao_Paulo
      JAVA_OPTS: "-Xmx1g" 
      MB_DB_ADDITIONAL_OPTIONS: allowPublicKeyRetrieval=true
      MB_DB_TYPE: mysql
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 3306
      MB_DB_USER: root
      MB_DB_PASS: q1w2e3
      MB_DB_HOST: mysql
      MB_DB_CONNECTION_TIMEOUT: 60000
    volumes:
      - metabase_data:/metabase-data

volumes:
  mysql_data:
  baileys_auth:
  metabase_data: